# APP_URL: The URL where this applet is hosted.
# Used for self-referential links, OAuth callbacks, and API endpoints.
APP_URL="MY_APP_URL"

# Prisma Database Configuration
DATABASE_URL="postgresql://user:password@localhost:5432/dbname?schema=public"
DIRECT_URL="postgresql://user:password@localhost:5432/dbname?schema=public"

# Supabase Storage Configuration (For Images)
SUPABASE_URL=https://vihlelswznlmksdxjilx.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZpaGxlbHN3em5sbWtzZHhqaWx4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4NDQ0MzIzOSwiZXhwIjoyMTAwMDE5MjM5fQ.CaCUL3roFvq8V2ELb2RsjZKKEwVt-KnHJJsFITMfBOY

# Stripe Configurations
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
VITE_STRIPE_PUBLISHABLE_KEY=

# Razorpay Configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Firebase Configuration (For Free Phone OTP Auth)
VITE_FIREBASE_API_KEY=AIzaSyDy98UGy3o11rFdQ2n8qMkm7kuCfSKQNIg
VITE_FIREBASE_AUTH_DOMAIN=drip-lab-39e68.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=drip-lab-39e68
VITE_FIREBASE_STORAGE_BUCKET=drip-lab-39e68.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=99594614968
VITE_FIREBASE_APP_ID=1:99594614968:web:835ce07014834aabe85c4d

# Clerk Configuration
VITE_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...
